*{
    max-resolution: 0;
    padding: 0;
}

body{
    height: 100vh; /* Ensure the body fills the viewport */
    margin: 0;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;

}

.wrapper{
    height: 200px;
    width: 300px;
    background: #ffc9c9;
    position: relative;
    display: flex;
    justify-content: center;s
    z-index: 0;

}

.letter{
    position: absolute;
    top: 0;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    background-color: white;
    z-index: 2;
}

